<h1>Lista de usuarios</h1>
<button type="button" class="btn btn-outline-success mt-2 mb-2" (click)="action('add')">Crear</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Activo</th>
        <th scope="col" width="200px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.idRol }}</td>
        <td>{{ (user.active) ? 'Si' : 'No' }}</td>
        <td> 
          <button type="button" class="btn btn-primary m-2" (click)="action('edit',user.idUser)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="action('delete',user.idUser)">Eliminar</button>
        </td>
      </tr>
    </tbody>
</table>