/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error-message{
    color: red;
    font-size: 12px;
}
.alert-error, .alert-info {
    margin: 0 auto !important;
    color: white;
    width: fit-content;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}
.alert-error {
    background-color: black;
}
.alert-info {
    background-color: green;
}